@use "@angular/material" as mat;
@import "../../../../variables.scss";

:host {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	justify-self: stretch;
	padding: 10px 20px;
	border-radius: 20px;
}

.button-flex {
	display: flex;
	gap: 10px;
}

@media only screen and (max-width: 650px) {
	.button-flex {
		flex-direction: column-reverse;
	}
}

ul,
li {
	font: mat.get-theme-typography($theme, body-large, font);
	margin: 0;
}

span {
	font: mat.get-theme-typography($theme, title-medium, font);
}

.lesson-text {
	height: 100px;
}
