<form [formGroup]="formGroup" class="edit-question-form" autocomplete="off">
	<section>
		<header>
			Title
		</header>
		<mat-form-field>
			<input matInput formControlName="title" />
			<mat-error>A title is required</mat-error>
		</mat-form-field>
	</section>

	<mat-divider></mat-divider>

	@if (hasImage) {
	<app-edit-image [imageUrl]="currentImageUrl" (changeImage)="changeImage()" (removeImage)="removeImage()"
		@collapse></app-edit-image>
	<mat-divider></mat-divider>
	}

	<section class="edit-question-buttons">
		@if (!hasImage) {<button mat-button type="button" (click)="addImage()" @collapse><mat-icon>add</mat-icon>
			Add
			image</button>}
	</section>

	<mat-divider></mat-divider>

	<section>
		<header>
			Answer
		</header>
		<div class="answer-container">
			<mat-form-field hideRequiredMarker="true">
				<mat-label>Hours</mat-label>
				<input matInput type="number" formControlName="hours" />
				<mat-error>Not a valid number</mat-error>
			</mat-form-field>
			<span>:</span>
			<mat-form-field hideRequiredMarker="true">
				<mat-label>Minutes</mat-label>
				<input matInput type="number" formControlName="minutes" />
				<mat-error>Not a valid number</mat-error>
			</mat-form-field>
		</div>
	</section>

	<header>
		<button mat-button type="button" (click)="closeDialog()">Cancel</button>
		<button mat-flat-button type="submit" (click)="saveQuestion()">Save</button>
	</header>
</form>