<header><span mat-dialog-title>Q{{question.data.number}}: {{question.data.type | questionTypeToString}}</span>
	<button mat-button>Preview</button>
</header>
@switch (question.data.type) {
@case (QuestionType.Numeric) {
<app-edit-numeric class="question-component" [question]="question | as"
	(requestDialogClose)="closeDialog()"></app-edit-numeric>
}
@case (QuestionType.MultipleChoice) {
<app-edit-multiple-choice class="question-component" [question]="question | as"
	(requestDialogClose)="closeDialog()"></app-edit-multiple-choice>
}
@case (QuestionType.Order) {
<app-edit-order-question class="question-component" [question]="question | as"
	(requestDialogClose)="closeDialog()"></app-edit-order-question>
}
@case (QuestionType.Fraction) {
<app-edit-fraction class="question-component" [question]="question | as"
	(requestDialogClose)="closeDialog()"></app-edit-fraction>
}
@case (QuestionType.Algebra) {
<app-edit-algebra class="question-component" [question]="question | as"
	(requestDialogClose)="closeDialog()"></app-edit-algebra>
}
}