:host {
	display: flex;
	justify-content: start;
	align-items: center;
	justify-self: stretch;
	gap: 20px;
	padding: 10px 20px;
	border-radius: 20px;
}

.button-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.text-container {
	display: flex;
	gap: 10px;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

.text-container span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
