@if (question.title !== '') {
<h1>{{question.title}}</h1>
}
<div class="vertical-container">
	@for (e of question.equations; track e) {
	<app-equation-display [equation]="e"></app-equation-display>
	}
</div>
@if (question.imageUrl !== '') {
<img [src]="question.imageUrl" alt="Question Image" />
}

@if (showAnswer) {
<app-answer-container [correct]="correct" [total]="total" @collapse>
	<div class="vertical-container">
		@for (a of question.answers; track a ) {
		<h1>{{unknowns[$index]}} = {{a}}</h1>
		}
	</div>
</app-answer-container>
}