<section class="navigation-container">
	<button mat-button routerLink="/dashboard">EXIT TO DASHBOARD</button>
</section>
@if (loading) {
<mat-spinner diameter="30"></mat-spinner>
} @else {
<form [formGroup]="nameFormGroup ">
	<mat-form-field>
		<mat-label>Lesson name</mat-label>
		<input matInput formControlName="name" />
		@if (nameFormGroup.get('name')?.dirty){
		<mat-hint>{{nameSaved ? "Saved" : "Saving..."}}</mat-hint>
		}
		<mat-error *ngIf="nameFormGroup.get('name')?.hasError('required')">Name is required</mat-error>
		<mat-error *ngIf="nameFormGroup.get('name')?.hasError('notUnique')">Lesson name must be unique</mat-error>
	</mat-form-field>
</form>
<mat-divider></mat-divider>
<header>
	<h2>Questions</h2>
	@if (!moving){
	<button mat-button [mat-menu-trigger-for]="menu"><mat-icon>add</mat-icon>ADD NEW</button>
	<mat-menu #menu="matMenu">
		@for (type of questionTypes; track type) {
		<button mat-menu-item (click)="addQuestion(type)">{{type | questionTypeToString}}</button>
		}
	</mat-menu>
	}
	@if (moving){<button mat-button (click)="saveMove()">SAVE</button>}
</header>
<section cdkDropList [cdkDropListData]="questions" class="drag-drop-container" (cdkDropListDropped)="drop($event)">

	@for (q of questions; track q) {
	<app-question-item [question]="q" [moving]="moving" (requestMove)="onMoveRequested()" cdkDrag
		[cdkDragDisabled]="!moving" class="drag-drop-item" @collapse></app-question-item>
	}
</section>
}