<form [formGroup]="formGroup" class="edit-question-form" autocomplete="off">
	@if (hasTitle)
	{<section @collapse>
		<header>
			Title
			<button mat-icon-button type="button" (click)="removeTitle()"><mat-icon>delete</mat-icon></button>
		</header>
		<mat-form-field>
			<input matInput formControlName="title" />
			<mat-error>A title is required</mat-error>
		</mat-form-field>
	</section>
	<mat-divider></mat-divider>}

	@if (hasEquation) {
	<section @collapse>
		<header>
			Equation
			<button mat-icon-button type="button" (click)="removeEquation()"><mat-icon>delete</mat-icon></button>
		</header>

		<mat-form-field>
			<input matInput formControlName="equation" />
			<mat-error>An equation is required</mat-error>
		</mat-form-field>

		<app-hint>Use square brackets to create
			fractions. (e.g. [21/7] or [4+2/3])</app-hint>
	</section>
	<mat-divider></mat-divider>
	}

	<section class="edit-question-buttons">
		@if (!hasTitle){<button mat-button type="button" (click)="addTitle()" @collapse><mat-icon>add</mat-icon> Add
			title</button>}
		@if (!hasEquation){<button mat-button type="button" (click)="addEquation()" @collapse><mat-icon>add</mat-icon>
			Add
			equation</button>}
	</section>

	<mat-divider></mat-divider>
	<section>
		<header>
			Correct Answer
		</header>
		<mat-form-field>
			<input matInput formControlName="correctAnswer" />
			<mat-error>An answer is required</mat-error>
		</mat-form-field>
		<header>
			Other Answers
		</header>
		@for (control of formAnswers.controls; track control;) {
		<div class="other-answer-container" formArrayName="otherAnswers" @collapse>
			<mat-form-field>
				<input matInput [formControlName]="$index" />
				<mat-error>An answer is required</mat-error>
			</mat-form-field>
			<button mat-icon-button style="margin-bottom: 1em;" (click)="removeAnswer($index)"
				[disabled]="formAnswers.length <= 1"><mat-icon>remove</mat-icon></button>
		</div>
		}
		@if (formAnswers.length < 3) { <button mat-button type="button" (click)="addAnswer()" @collapse>
			<mat-icon>add</mat-icon>Add answer</button>
			}
	</section>

	<header>
		<button mat-button type="button" (click)="closeDialog()">Cancel</button>
		<button mat-flat-button type="submit" (click)="saveQuestion()"
			[disabled]="!hasTitle && !hasEquation">Save</button>
	</header>
</form>