<header>
	<button mat-button (click)="closeLobby()">Back to dashboard</button>
</header>
<div class="align-center">
	<h1>{{lobbyInfo.data.lessonName}}</h1>
	<h1 class="code">Code: {{lobbyInfo.id}}</h1>
	<h2>maths-quiz.co.uk</h2>
	<h1>Players:</h1>
	<app-player-count>{{playerCount}}</app-player-count>
	<!-- </div>

<div class="align-center"> -->
	<qrcode [qrdata]="link" [width]="qrWidth" [errorCorrectionLevel]="'M'"></qrcode>
	<button mat-button (click)="clipboard.copy(link)">Copy Link<mat-icon
			iconPositionEnd>content_copy</mat-icon></button>
</div>


<div class="align-right">
	<button mat-flat-button [disabled]="!questionsLoaded || playerCount <= 0">{{questionsLoaded ? "Start Lesson" :
		"Questions Loading"}}<mat-icon iconPositionEnd>navigate_next</mat-icon></button>
</div>