@use "@angular/material" as mat;
@import "../../variables.scss";

nav {
	width: 450px;
}

@media only screen and (max-width: 600px) {
	nav {
		width: 100%;
	}
}

h1 {
	font: mat.get-theme-typography($theme, headline-large, font);
	margin-left: 25px;
}
