<form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" class="login-form">
	<mat-form-field appearance="fill">
		<mat-label>Email</mat-label>
		<input matInput type="email" formControlName="email">
		<mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
		<mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email</mat-error>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Password</mat-label>
		<input matInput type="password" formControlName="password">
		<mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
		<mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6
			characters</mat-error>
	</mat-form-field>

	<button mat-flat-button type="submit">Login</button>

</form>
<button mat-button routerLink="/forgot-password">RESET PASSWORD</button>
<div class="button-and-text">
	Don't have an account?
	<button mat-button routerLink="/auth/sign-up">SIGN UP</button>
</div>